.sidebar-nav {
	display: flex;
	flex-direction: column;
	gap: 1rem;
}

.sidebar-nav__item {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.sidebar-nav__item:hover {
	cursor: pointer;
}

.sidebar-nav__item-name {
	color: #555;
}

.sidebar-nav__item-name:hover {
	color: #2c2c2c;
}

.sidebar-nav__item-actions-container {
	display: flex;
	gap: 0.5rem;
}

.sidebar-nav__item.sidebar-nav__item--active .sidebar-nav__item-name {
	font-weight: 600;
	color: #2c2c2c;
}
