.container {
    min-height: 100vh;
    /*padding: 1rem;*/
    display: flex;
    flex-direction: column;
}

@media screen and (min-width: 576px) {
    .container {
        flex-direction: row;
    }
}

@import "./sidebar.css";
@import "./page.css";
